body {
  background-color: rgb(232, 233, 235);
  margin: 0%;
}

.header {
  position: sticky;
  box-sizing: border-box;
  border: 5px solid rgb(49, 54, 56);
  text-align: center;
  flex-direction: column;
  background-color: rgb(49, 54, 56);
  color: rgb(232, 233, 235);
  width: 100%;
  height: 100%;
}

.Log_in {
  color: white;
  text-align: center;
  position: left;
}

nav {
  justify-content: space-evenly;
  display: flex;
}

nav a {
  color: rgb(49, 54, 56);
}

.navDiv {
}

nav a:hover {
  color: rgb(255, 255, 255);
}

.Divider {
  border: solid 4px rgb(49, 54, 56);
  margin-top: 0px;
}

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

main {
  background-color: rgb(49, 54, 56);
}

.Hem a:hover {
  background-color: rgb(49, 54, 56);
  border: solid 4px rgb(49, 54, 56);
  color: white;
}

.Hem {
  border: solid 4px rgb(255, 255, 255);
  margin: 1px;
}

.About_Us {
  border: solid 4px rgb(255, 255, 255);
  margin: 1px;
}

.About_Us a:hover {
  background-color: rgb(49, 54, 56);
  border: solid 4px rgb(49, 54, 56);
  margin: 1px;
}

.Blandning {
  border: solid 4px rgb(255, 255, 255);
  margin: 1px;
}

.Blandning a:hover {
  background-color: rgb(49, 54, 56);
  border: solid 4px rgb(49, 54, 56);
  margin: 1px;
}

.Borta {
  border: solid 4px rgb(255, 255, 255);
  margin: 1px;
}

.Borta a:hover {
  background-color: rgb(49, 54, 56);
  border: solid 4px rgb(49, 54, 56);
  margin: 1px;
}
