* {
  box-sizing: border-box;
}

body {
  background-color: rgb(232, 233, 235);
  margin: 0%;
}

input {
  display: none;
}

.behållare {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
}

h1::before {
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

@keyframes animete {
  0% {
    width: 100px;
  }

  50% {
    width: 200px;
  }
  100% {
    width: 100px;
  }
}

.top-content {
  background-color: crimson;
  width: 90%;
  margin: 0 auto 20px auto;
}

.header {
  position: sticky;
  border: 5px solid rgb(49, 54, 56);
  text-align: center;
  flex-direction: column;
  background-color: rgb(49, 54, 56);
  color: rgb(232, 233, 235);
  width: 100%;
  height: 100%;
}

.Log_in a:hover {
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: rgb(49, 54, 56);
  border: solid 4px rgb(49, 54, 56);
}

nav {
  justify-content: space-evenly;
  display: flex;
}

nav a {
  color: rgb(49, 54, 56);
}

nav a:hover {
  color: rgb(255, 255, 255);
}

.Divider {
  border: solid 4px rgb(49, 54, 56);
  margin-top: 0px;
}

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

.Titel_Foto {
  text-align: center;
}

.Hem a:hover {
  background-color: rgb(49, 54, 56);
  border: solid 4px rgb(49, 54, 56);
  color: white;
}

.Hem {
  border: solid 4px rgb(255, 255, 255);
  margin: 1px;
}

.About_Us {
  border: solid 4px rgb(255, 255, 255);
  margin: 1px;
}

.About_Us a:hover {
  background-color: rgb(49, 54, 56);
  border: solid 4px rgb(49, 54, 56);
  margin: 1px;
}

.Blandning {
  border: solid 4px rgb(255, 255, 255);
  margin: 1px;
}

.Blandning a:hover {
  background-color: rgb(49, 54, 56);
  border: solid 4px rgb(49, 54, 56);
  margin: 1px;
}

.Borta {
  border: solid 4px rgb(255, 255, 255);
  margin: 1px;
}

.Borta a:hover {
  background-color: rgb(49, 54, 56);
  border: solid 4px rgb(49, 54, 56);
  margin: 1px;
}
